openapi: 3.0.1
info:
  title: File uploader
  description: This is a simple file uploader.
  contact:
    email: am@kubia.com
  version: "1.0"
servers:
  - url: https://api.kubia.com/v1
  - url: http://api.kubia.com/v1
tags:
  - name: upload
    description: File upload
paths:
  /upload/link:
    get:
      tags:
        - upload
      summary: Return link for upload file
      description: Return link for upload file
      parameters:
        - name: X-USER-UUID
          in: header
          description: Client UUID
          required: true
          schema:
            type: string
            format: uuid
      security:
        - bearer: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkError400'
  /upload/{hash}:
    get:
      tags:
        - upload
      summary: Return uploaded file
      description: Return uploaded file
      parameters:
        - name: hash
          in: path
          description: Hash
          required: true
          schema:
            type: string
        - name: X-USER-UUID
          in: header
          description: Client UUID
          schema:
            type: string
            format: uuid
      security:
        - bearer: []
      responses:
        200:
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        403:
          description: Forbiden
        404:
          description: Not found
    post:
      tags:
        - upload
      summary: Upload file
      description: Upload file to remote host
      parameters:
        - name: hash
          in: path
          description: Hash
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadError400'
        404:
          description: Not found
components:
  schemas:
    Link:
      type: object
      properties:
        url:
          type: string
      example:
        url: http://api.kubia.com/upload/dfb3a0ca53084eded993002903d6c1c602405ba50a130a8ba6f9c3dd291a0ec9
    File:
      type: object
      properties:
        uuid:
          type: string
      example:
        uuid: "162a3771-4bff-49ac-88c9-eec91ab99a99"
    LinkError400:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              field:
                type: string
      example:
        errors:
          - code: 101
            message: 'Missing parameter'
            field: client_uuid
    UploadError400:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
      example:
        errors:
          - code: 101
            message: 'Bad format file'
          - code: 102
            message: 'File too large'
          - code: 998
            message: 'File not saved'
          - code: 999
            message: 'No file uploaded'
  securitySchemes:
    bearer:
      type: http
      scheme: bearer