swagger: "2.0"
info:
  description: "This is a simple file uploader."
  version: "1.0"
  title: "File uploader"
  contact:
    email: "am@kubia.com"
host: "api.kubia.com"
basePath: "/v1"
tags:
  - name: "upload"
    description: "File upload"
schemes:
  - "https"
  - "http"
paths:
  /upload/link:
    get:
      tags:
        - "upload"
      summary: "Return link for upload file"
      description: "Return link for upload file"
      produces:
        - "application/json"
      parameters:
        - name: "client_id"
          in: "query"
          description: "Client ID"
          required: true
          type: "integer"
          format: "int32"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/Link"
        400:
          description: "Bad request"
          schema:
            $ref: "#/definitions/ApiError400Response"
  /upload/{hash}:
    post:
      tags:
        - "upload"
      summary: "Upload file"
      description: "Upload file to remote host"
      produces:
        - "application/json"
      parameters:
        - name: "hash"
          in: "path"
          description: "Hash"
          required: true
          type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/File"
        400:
          description: "Bad request"
        404:
          description: "Not found"
    get:
      tags:
        - "upload"
      summary: "Return uploaded file"
      description: "Return uploaded file"
      produces:
        - "application/octet-stream"
      parameters:
        - name: "hash"
          in: "path"
          description: "Hash"
          required: true
          type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            type: "file"
        404:
          description: "Not found"

definitions:
  Link:
    type: "object"
    properties:
      url:
        type: "string"
    example:
      url: "http://api.kubia.com/upload/dfb3a0ca53084eded993002903d6c1c602405ba50a130a8ba6f9c3dd291a0ec9"
  File:
    type: "object"
    properties:
      uuid:
        type: "string"
    example:
      uuid: "162a3771-4bff-49ac-88c9-eec91ab99a99"
  ApiError400Response:
    type: "object"
    properties:
      errors:
        type: "array"
        items:
          type: "object"
          properties:
            code:
              type: "integer"
            message:
              type: "string"
            field:
              type: "string"
